<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="hr">
<head>
  <meta charset="UTF-8">
  <title>Uređivanje proizvoda</title>
</head>
<body layout:fragment="content">
<div class="container">
  <div class="row">
    <div class="col">
      <h4>Uređivanje proizvoda</h4>
      <form th:object="${article}" th:action="@{/article/edit/{id}(id=${article.getId()})}" method="POST" >
          <label class="col-form-label">Unesite naziv proizvoda:</label>
          <input class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" type="text" th:field="*{name}">
          <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>

          <label class="col-form-label">Unesite opis proizvoda:</label>
          <input class="form-control" th:classappend="${#fields.hasErrors('description') ? 'is-invalid' : ''}" type="text" th:field="*{description}">
          <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="invalid-feedback"></div>

          <label class="col-form-label">Unesite cijenu proizvoda:</label>
          <input class="form-control" th:classappend="${#fields.hasErrors('price') ? 'is-invalid' : ''}" type="number" th:field="*{price}" step=".05">
          <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="invalid-feedback"></div>





          <label class="col-form-label">Odaberite kategoriju proizvoda</label>
          <select class="form-control" th:classappend="${#fields.hasErrors('category') ? 'is-invalid' : ''}"  th:field="*{category}">
            <option value="">Odaberite kategoriju</option>
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
          </select>
          <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="invalid-feedback"></div>

          <button type="submit" class="btn btn-primary mt-3">Uredi proizvod</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>